.wrapper {
  border: 1px solid red;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  max-width: 50%;
  background: linear-gradient(90deg, rgba(255,255,253,1) 0%, rgba(255,0,0,0.7371323529411764) 65%, rgba(255,255,255,1) 100%);
}

